
<body style="background-color: #1A5276; height: 100%;"> 

<h1 style="color:white">Votá a un candidato</h1>

 <div style="background-color: #1A5276" *ngFor="let candidato of candidates">
  <div class="card">
    <div class="card-header">
        {{candidato.partido}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ candidato.presidente}}</h5>
      <h6 class="card-title">{{ candidato.vicepresidente}}</h6>
      <button (click)="onVote(candidato._id)"  type="button" class="btn btn-outline-primary"> Votar </button>
      </div>
  </div>
 </div>


</body>