
<div class="container-fluid">
  
 
  <h3>Agregar candidato</h3>

<form (ngSubmit)="onSubmit()"   #f="ngForm">
    <div class="form-group">
      <label for="formGroupExampleInput">Presidente</label>
      <input type="text" class="form-control" name="presidente" [(ngModel)]="presidente"  placeholder="Presidente" required>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Vicepresidente</label>
      <input type="text" class="form-control"  name="vicepresidente" [(ngModel)]="vicepresidente" placeholder="Vicepresidente" required>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Partido político</label>
        <input type="text" class="form-control"  [(ngModel)]="partido" name="partido" placeholder="Partido politico" required>
      </div>

  <button  [disabled]="!f.valid" type="submit"    class="btn btn-primary">  Enviar </button>
  
  </form>
