<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>


    <div class="col-md-8 col-lg-6">


      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4" autofocus ><b>ELECCIONES 2019</b></h3>
              <form>
                <div class="form-label-group">
                  <header>DNI</header>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                 
                </div>

                <div class="form-label-group">
                    <header>Contraseña</header>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">INGRESAR</button>

                    <div class="text-center">¿No tenés cuenta? <a routerLink='/signup'>Entrá acá</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

    

  </div>
</div>
