<h3>  Registro de votantes </h3>


<table class="table table-hover" *ngIf="votantes.length > 0"  >
  <thead>
    <tr>

      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
      <th scope="col">Estado</th>

    </tr>

  </thead>
  <tbody>
  
    <tr   *ngFor="let voter of votantes">
      <th scope="row">{{voter.name}}</th>
      <td>{{voter.lastname}}</td>
      <td>{{voter.dni}}</td>    
      <td  *ngIf="voter.isVote" >Votó</td>
      <td  *ngIf="!voter.isVote" >No votó</td>
    </tr>
  
  </tbody>
</table>
