<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <title>Bootstrap Classic Sign Up Form with Blue Background</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  
  </head>
  <body>
  <div class="signup-form">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
      <h2>Registrarse</h2>
    
      <hr>
      
          <div class="form-group">
        <label>Nombre</label>
            <input type="text" class="form-control" name ="name" [(ngModel)]="name" required>
          </div>
          <div class="form-group">
            <label>Apellido</label>
                <input type="text" class="form-control" name ="lastname" [(ngModel)]="lastname" required>
              </div>
              <div class="form-group">
                <label>DNI</label>
                    <input type="number" class="form-control" name="ID" [(ngModel)]="ID" required>
                  </div>
          <div class="form-group">
         <label>E-mail</label>
            <input  class="form-control" name="email" email required [(ngModel)]="email">
          </div>
          <div class="form-group">
            <label>Repetir e-mail</label>
                <input  class="form-control" name="emailConfirmation" emial required [(ngModel)]="emailConfirm">
              </div>
            <p *ngIf="! emailMatch()">Las direcciones de e-mail no coinciden</p>
             <div class="form-group">
           <label>Contraseña</label>
              <input type="password" class="form-control" name="password"   required [(ngModel)]="password">
          </div>
          <div class="form-group">
            <label>Confirmar contraseña</label>
              <input type="password" class="form-control" name="passwordConfirmation" required [(ngModel)]="passwordConfirm">
          </div> 
          <p *ngIf="! passwordMatch()">Las constraseñas  no coinciden</p>     
          <button [disabled]="! emailMatch() || !passwordMatch() || !f.valid" type="submit" class="btn btn-primary btn-lg">Registrarse</button>  
        </form>
     
    <div class="text-center">¿Ya estás registrado? <a routerLink=''>Entrá acá</a></div>
  </div>
  </body>